<h1>Hey! Nice to see you.</h1>

<p>Welcome to my page! </br> I'm Yoshiyuki Hisamatsu, Software developer from <b>Tokyo, Japan</b>.

<h3>Note, Blog, Podcast, YouTube, Essay, etc...</h3>
<details>
<summary>各種サービスへのリンク</summary>
<h3>Note</h3>
<p>
<a href="https://note.com/hisasann" target="_blank">ひささん｜note</a>
</p>

<h3>Podcast</h3>
<p>
<a href="https://www.youtube.com/channel/UCcB8jQpBT_r9T1XUkc9WgrA" target="_blank">Sour & Lemon Inc. - YouTube</a>
</p>

<h3>YouTube</h3>
<p>
<a href="https://www.youtube.com/channel/UCtKoL7XV8B30Vz6y9b2C0PA" target="_blank">DJ lemon-Sour - YouTube</a>
</p>

<h3>Essay</h3>
<p>
<a href="https://essay.hisasann.dev/" target="_blank">ミックスナッツは高いほうがいい</a>
</p>

<h3>Get in touch</h3>
<p>
<a href="https://essay.hisasann.dev/" target="_blank">DJ lemon-Sour's diary (prod.hisasann)</a>
</p>
<p>
<a href="https://hisasann.dev/" target="_blank">hisasann a.k.a DJ lemon-Sour</a>
</p>
</details>

<h3>Instagram</h3>
<p><img width="200" src="{{img1}}" /> <img width="200" src="{{img2}}" /> <img width="200" src="{{img3}}" /></p>
<p>Above are the last 3 pictures posted by <a href="https://www.instagram.com/hisasann/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1024px-Instagram_logo_2016.svg.png" width="20"/>@hisasann!</a>.</p>

<h3>Where to find me</h3>
<p>
<a href="https://github.com/hisasann" target="_blank"><img alt="Github" src="https://img.shields.io/badge/GitHub-%2312100E.svg?&style=for-the-badge&logo=Github&logoColor=white" /></a>
<a href="https://twitter.com/hisasann" target="_blank"><img alt="Twitter" src="https://img.shields.io/badge/twitter-%231DA1F2.svg?&style=for-the-badge&logo=twitter&logoColor=white" /></a>
<a href="https://www.linkedin.com/in/%E3%82%88%E3%81%97%E3%82%86%E3%81%8D-%E3%81%B2%E3%81%95%E3%81%BE%E3%81%A4-b8914b117/" target="_blank"><img alt="Medium" src="https://img.shields.io/badge/linkdin-0a66c2.svg?&style=for-the-badge&logo=linkedin&logoColor=white" /></a>
<a href="https://qiita.com/hisasann" target="_blank"><img alt="Qiita" src="https://img.shields.io/badge/qiita-55C500.svg?&style=for-the-badge&logo=qiita&logoColor=white" /></a>
<a href="https://zenn.dev/hisasann" target="_blank"><img alt="Zenn" src="https://img.shields.io/badge/Zenn-3EA8FF.svg?&style=for-the-badge&logo=Zenn&logoColor=white" /></a>
</p>

<h3>Things I code with</h3>
<p>
  <img alt="Vue" src="https://img.shields.io/badge/-Vue.js-4FC08D?style=flat-square&logo=Vue.js&logoColor=white" />
  <img alt="React" src="https://img.shields.io/badge/-React-45b8d8?style=flat-square&logo=react&logoColor=white" />
  <img alt="redux" src="https://img.shields.io/badge/-Redux-764ABC?style=flat-square&logo=redux&logoColor=white" />
  <img alt="TypeScript" src="https://img.shields.io/badge/-TypeScript-007ACC?style=flat-square&logo=typescript&logoColor=white" />
  <img alt="JavaScript" src="https://img.shields.io/badge/-JavaScript-F7DF1E?style=flat-square&logo=JavaScript&logoColor=white" />
  <img alt="Nodejs" src="https://img.shields.io/badge/-Node.js-43853d?style=flat-square&logo=Node.js&logoColor=white" />
  <img alt="Webpack" src="https://img.shields.io/badge/-Webpack-8DD6F9?style=flat-square&logo=webpack&logoColor=white" />
  <img alt="Rollup" src="https://img.shields.io/badge/-Rollup-EC4A3F?style=flat-square&logo=rollup.js&logoColor=white" />
  <img alt="Vite" src="https://img.shields.io/badge/-Vite-646CFF?style=flat-square&logo=Vite&logoColor=white" />
  <img alt="npm" src="https://img.shields.io/badge/-NPM-CB3837?style=flat-square&logo=npm&logoColor=white" />
  <img alt="Docker" src="https://img.shields.io/badge/-Docker-46a2f1?style=flat-square&logo=docker&logoColor=white" />
  <img alt="github actions" src="https://img.shields.io/badge/-Github_Actions-2088FF?style=flat-square&logo=github-actions&logoColor=white" />
  <img alt="Firebase" src="https://img.shields.io/badge/-Firebase-FFCA28?style=flat-square&logo=Firebase&logoColor=white" />
  <img alt="AWS" src="https://img.shields.io/badge/-AWS-232F3E?style=flat-square&logo=amazon-aws&logoColor=white" />
  <img alt="GCP" src="https://img.shields.io/badge/-GCP-1a73e8?style=flat-square&logo=google-cloud&logoColor=white" />
  <img alt="Apollo" src="https://img.shields.io/badge/-Apollo%20GraphQL-311C87?style=flat-square&logo=apollo-graphql&logoColor=white" />
  <img alt="GraphQL" src="https://img.shields.io/badge/-GraphQL-E10098?style=flat-square&logo=graphql&logoColor=white" />
  <img alt="MongoDB" src="https://img.shields.io/badge/-MongoDB-13aa52?style=flat-square&logo=mongodb&logoColor=white" />
</p>

<h3>Open source projects</h3>
<table>
  <thead align="center">
    <tr border: none;>
      <td><b>🎁 Projects</b></td>
      <td><b>⭐ Stars</b></td>
      <td><b>📚 Forks</b></td>
      <td><b>🛎 Issues</b></td>
      <td><b>📬 Pull requests</b></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://github.com/typescript-nuxtjs-boilerplate/typescript-nuxtjs-boilerplate"><b>TypeScript Nuxtjs Boilerplate</b></a></td>
      <td><img alt="Stars" src="https://img.shields.io/github/stars/typescript-nuxtjs-boilerplate/typescript-nuxtjs-boilerplate?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Forks" src="https://img.shields.io/github/forks/typescript-nuxtjs-boilerplate/typescript-nuxtjs-boilerplate?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Issues" src="https://img.shields.io/github/issues/typescript-nuxtjs-boilerplate/typescript-nuxtjs-boilerplate?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Pull Requests" src="https://img.shields.io/github/issues-pr/typescript-nuxtjs-boilerplate/typescript-nuxtjs-boilerplate?style=flat-square&labelColor=343b41"/></td>
    </tr>
  </tbody>
</table>

<p>
  <a href="https://github.com/anuraghazra/github-readme-stats">
    <img align="left" src="https://github-readme-stats.vercel.app/api?username=hisasann&count_private=true&show_icons=true" />
  </a>
  <a href="https://github.com/anuraghazra/github-readme-stats">
    <img align="left" src="https://github-readme-stats.vercel.app/api/top-langs/?username=hisasann" />
  </a>
</p>

